.controls{
    position: absolute;
    display: flex;
    bottom: 0;
    gap: 10px;

    & div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 50px;
        border-radius: 10px;
        border: 1px solid black;
        background-color: #ffffff;
        cursor: pointer;
        @media (max-width: 510px) {
            .controls div{
                width: 80px;
                height: 40px;
            }
        }

    }

    & div:hover{
        background-color: #c2c0c0;
    }

}

